.dashboard-container {
  font-family: Arial;
}

header {
  background-color: #007bff;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  border-radius: 50%;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.user-card {
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
